body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

/* .container {
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
} */

a {
    text-decoration: none;
    color: #333;
}

/* Header */
header {
    background-color: #002244; /* Dark Blue */
    color: white;
    justify-content: space-between;
    display: flex;
}
.header-container{
    display: flex;
    margin: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 12px;
    margin-left: 12px;
    align-items: center;
}

.li-a {
    color: white;
    font-weight: 600;
    align-items: center;
}
.btn-outline-primary,.btn-outline-secondary{
    background-color: #f4f4f4;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
}
.btn-outline-secondary{
    color: #6c757d;
}
.btn-outline-primary{
    color: #0d6efd;
}

/* Authentication Pages (Login & Registration) */
.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
}
.div-submit{
    text-align: center;
}

.auth-header {
    text-align: center;
    margin-bottom: 20px;
}

.auth-header h2 {
    margin: 0;
    color: #002244;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
}

.auth-form button {
    background-color: #002244;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: 50%;
    transition: background-color 0.3s ease;
}

.auth-form button:hover {
    background-color: #02468a;
    color: white;
}

.auth-links {
    text-align: center;
    margin-top: 15px;
}

.auth-links a {
    color: #0066cc;
    font-weight: 600;
}

/* new registration css */
/* Alert styles */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: white;
    background-color: #e74c3c; /* Red background for error */
    font-size: 0.9em;
}

.alert ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.alert ul li {
    margin: 5px 0;
}

/* Success or other types of alerts can be added if needed */
.alert-success {
    background-color: #28a745; /* Green for success messages */
}

/* Home Page */
.sample-simulator-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sample-simulator-section {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.sample-simulator-section h3{
    margin: 0;
    font-size: 1.5em;
}
.ai-span{
    color: #0066cc;
}