{% extends "Analysis/layout.html" %}
{% block body %}
    <!-- Header -->

    <!-- Filter Section -->
    <div class="container">
        {% if user.is_authenticated %}
        <h2>סנן סימולטורים</h2>
        <div class="filter-section">
            <!-- Search Bar -->
            <input type="text" id="search-bar" placeholder="חפש סימולטור" onkeyup="filterSimulators()">

            <!-- Filter by Level -->
            <!-- <select name="level" id="level-filter" onchange="filterSimulators()">
                <option value="all">Level (All)</option>
                <option value="1">Easy</option>
                <option value="2">Medium</option>
                <option value="3">Hard</option>
                <option value="0">Mix</option>
            </select> -->

            <!-- Filter by Subject -->
            <!-- <select name="subject" id="subject-filter" onchange="filterSimulators()">
                <option value="all">Subject (All)</option>
                <option value="sentence-completion">Sentence Completion</option>
                <option value="restatements">Restatements</option>
                <option value="reading-comprehension">Reading Comprehension</option>
            </select> -->
        </div>

        <!-- Simulator Cards Section -->
        <h2>נתח סימולטור</h2>
        <div id="simulator-list" class="simulator-list">
        {% if simulator_attempts %}
        {% for simulator_attempt in simulator_attempts %}
            <div class="simulator-card" data-level="{{simulator_attempt.simulator.level}}">
                <div>
                    <h3>{{simulator_attempt.simulator.name}}</h3>
                    <p class="details">{{simulator_attempt.start_time}}</p>
                </div>
                <div class="scores">
                    <p class="details">{{simulator_attempt.get_success_rate}}%</p>
                </div>
                <a href="{% url 'analyze_simulator' simulator_id=simulator_attempt.id%}" class="btn btn-primary">ניתוח סימולטור</a>
            </div>
        {% endfor %}
        
        {% endif %}
        </div>
        {% endif %}
    </div>
    <script>
        function filterSimulators() {
            const searchTerm = document.getElementById('search-bar').value.toLowerCase();
            // const levelFilter = document.getElementById('level-filter').value;
            // const subjectFilter = document.getElementById('subject-filter').value;
            // const statusFilter = document.getElementById('status-filter').value;

            const simulators = document.querySelectorAll('.simulator-card');

            simulators.forEach(function(simulator) {
                const name = simulator.querySelector('h3').innerText.toLowerCase();
                // const level = simulator.getAttribute('data-level');
                // const subject = simulator.getAttribute('data-subject');
                // const status = simulator.getAttribute('data-status');

                // Apply filters and search term
                if (
                    (name.includes(searchTerm))
                    // (name.includes(searchTerm)) &&
                    // (levelFilter === 'all' || level === levelFilter) &&
                    // (subjectFilter === 'all' || subject === subjectFilter) &&
                    // (statusFilter === 'all' || status === statusFilter)
                ) {
                    simulator.style.display = 'flex';
                } else {
                    simulator.style.display = 'none';
                }
            });
        }
    </script>
{% endblock %}
<!-- </body>
</html> -->
