{% extends "Analysis/layout.html" %}
{% block body %}
    <!-- Header -->

    <!-- Filter Section -->
    <div class="container">
        {% if user.is_authenticated %}
        <h2>סנן סימולטורים</h2>
        <div class="filter-section">
            <!-- Search Bar -->
            <input type="text" id="search-bar" placeholder="חפש סימולטור" onkeyup="filterSimulators()">

            <!-- Filter by Level -->
            <!-- <select name="level" id="level-filter" onchange="filterSimulators()">
                <option value="all">Level (All)</option>
                <option value="1">Easy</option>
                <option value="2">Medium</option>
                <option value="3">Hard</option>
                <option value="0">Mix</option>
            </select> -->

            <!-- Filter by Subject -->
            <!-- <select name="subject" id="subject-filter" onchange="filterSimulators()">
                <option value="all">Subject (All)</option>
                <option value="sentence-completion">Sentence Completion</option>
                <option value="restatements">Restatements</option>
                <option value="reading-comprehension">Reading Comprehension</option>
            </select> -->
            <input type="date" id="date-filter" placeholder="Filter by Date" onchange="filterSimulators()">
        </div>

        <!-- Simulator Cards Section -->
        <h2>נתח סימולטור</h2>
        <div id="simulator-list" class="simulator-list">
        {% if simulator_attempts %}
        {% for simulator_attempt in simulator_attempts %}
            <div class="simulator-card" data-level="{{simulator_attempt.simulator.level}}" data-date="{{simulator_attempt.start_time|date:'Y-m-d' }}">
                <div class="simulator-details">
                    <h4 class="simulator-title">{{simulator_attempt.simulator.name}}</h4>
                    <p class="details">{{simulator_attempt.start_time | date:"d/m/Y"}}</p>
                </div>
                <div class="score-analyze-container">
                <a href="{% url 'analyze_simulator' simulator_id=simulator_attempt.id%}" class="btn btn-primary analyze-btn">ניתוח סימולטור</a>
                <div class="scores">
                    <p class="details">{{simulator_attempt.get_success_rate|floatformat:2|floatformat:0 }}% הצלחה</p>
                </div>
                <form method="post" action="{% url 'delete_simulator_attempt' attempt_id=simulator_attempt.id %}" class="delete-form">
                    {% csrf_token %}
                <button onclick="deleteAttemptConfirmation()" class="btn btn-danger delete-btn" data-simulator-id="{{simulator_attempt.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </button>
                </form>
                
                </div>
            </div>
        {% endfor %}
        
        {% endif %}
        </div>
        {% endif %}
    </div>
    <script>
        function filterSimulators() {
            const searchTerm = document.getElementById('search-bar').value.toLowerCase();
            const dateFilter = document.getElementById('date-filter').value;
            // const levelFilter = document.getElementById('level-filter').value;
            // const subjectFilter = document.getElementById('subject-filter').value;
            // const statusFilter = document.getElementById('status-filter').value;

            const simulators = document.querySelectorAll('.simulator-card');

            simulators.forEach(function(simulator) {
                const name = simulator.querySelector('h3').innerText.toLowerCase();
                const dt = simulator.getAttribute('data-date').startsWith(dateFilter);
                // const level = simulator.getAttribute('data-level');
                // const subject = simulator.getAttribute('data-subject');
                // const status = simulator.getAttribute('data-status');

                // Apply filters and search term
                if (
                    (name.includes(searchTerm))
                    // (name.includes(searchTerm)) &&
                    // (levelFilter === 'all' || level === levelFilter) &&
                    // (subjectFilter === 'all' || subject === subjectFilter) &&
                    // (statusFilter === 'all' || status === statusFilter)
                    && (dateFilter === '' || dt)
                ) {
                    simulator.style.display = 'flex';
                } else {
                    simulator.style.display = 'none';
                }
            });
        }
        function deleteAttemptConfirmation(){
            if (window.confirm("האם אתה בטוח שברצונך למחוק את הניסיון?")) {
                return true;
            } else {
                return false;
            }
        }
    </script>
{% endblock %}
<!-- </body>
</html> -->
