{% extends "Simulator/layout.html" %}
{% block body %}
    <!-- Header -->

    <!-- Filter Section -->
    <div class="container">
        
        {% if user.is_authenticated %}
        <h2>סנן סימולטורים</h2>
        <div class="filter-section">
            <!-- Search Bar -->
            <input type="text" id="search-bar" placeholder="חפש סימולטור..." onkeyup="filterSimulators()">

            <!-- Filter by Completion Status -->
            <select name="status" id="status-filter" onchange="filterSimulators()">
                <option value="all">הכל</option>
                <option value="done">בוצע</option>
                <option value="not-done">טרם בוצע</option>
            </select>
        </div>

        <!-- Simulator Cards Section -->
        <h2>סימולטורים זמינים</h2>
        <div id="simulator-list" class="simulator-list">
        {% if all_simulators %}
        {% for simulator_attempt in all_simulators %}
            {% if simulator_attempt.last_attempt %}
            <div class="simulator-card" data-level="{{simulator_attempt.simulator.level}}" data-status="done">
                <div class="simulator-details">
                    <h4>{{simulator_attempt.simulator.name}}</h4>
                    <p class="details">ניסיון אחרון: <span dir="ltr">{{simulator_attempt.last_attempt.start_time|timesince}} ago</span></p>
                </div>
                <div class="simulator-actions">
                    <a href="{% url 'analyze_simulator' simulator_id=simulator_attempt.last_attempt.id%}" class="btn btn-secondary">ניתוח תוצאות</a>
                    <a href="{% url 'start_simulator' simulator_id=simulator_attempt.simulator.id %}" class="btn btn-success">התחל סימולטור</a>
                </div>
            </div>
            {% else %}
            <div class="simulator-card" data-level="{{simulator_attempt.simulator.level}}" data-status="not-done">
                <div class="simulator-details">
                    <h4>{{simulator_attempt.simulator.name}}</h4>
                    <p class="details">Last Attempt: Not Attempted</p>
                </div>
                <a href="{% url 'start_simulator' simulator_id=simulator_attempt.simulator.id %}" class="btn btn-success">התחל סימולטור</a>
            </div>
            {% endif %}
        {% endfor %}
        
        {% endif %}
        </div>
        {% endif %}
    </div>
    <script>
        function filterSimulators() {
            const searchTerm = document.getElementById('search-bar').value.toLowerCase();
            // const levelFilter = document.getElementById('level-filter').value;
            // const subjectFilter = document.getElementById('subject-filter').value;
            const statusFilter = document.getElementById('status-filter').value;

            const simulators = document.querySelectorAll('.simulator-card');

            simulators.forEach(function(simulator) {
                const name = simulator.querySelector('h3').innerText.toLowerCase();
                // const level = simulator.getAttribute('data-level');
                // const subject = simulator.getAttribute('data-subject');
                const status = simulator.getAttribute('data-status');

                // Apply filters and search term
                if (
                    (name.includes(searchTerm)) &&
                    // (levelFilter === 'all' || level === levelFilter) &&
                    // (subjectFilter === 'all' || subject === subjectFilter) &&
                    (statusFilter === 'all' || status === statusFilter)
                ) {
                    simulator.style.display = 'flex';
                } else {
                    simulator.style.display = 'none';
                }
            });
        }
    </script>
{% endblock %}
<!-- </body>
</html> -->
